/* Reset */

* {
	margin: 0px;
	padding: 0px;
}

/* Fonts */

@font-face {
	font-family: 'Kepler';
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/KpRoman-Regular.otf') format('opentype');;
/*	src: url('/fonts/KpRoman-Regular.woff2') format('woff2'),
	     url('/fonts/KpRoman-Regular.otf') format('opentype');*/
}

@font-face {
	font-family: 'Kepler';
	font-style: italic;
	font-weight: normal;
	src: url('/fonts/KpRoman-Italic.woff2') format('woff2'),
	     url('/fonts/KpRoman-Italic.otf') format('opentype');
}

@font-face {
	font-family: 'Kepler';
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/KpRoman-Bold.woff2') format('woff2'),
	     url('/fonts/KpRoman-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Kepler';
	font-style: italic;
	font-weight: bold;
	src: url('/fonts/KpRoman-BoldItalic.woff2') format('woff2'),
	     url('/fonts/KpRoman-BoldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Libertinus Sans';
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/LibertinusSans-Regular.woff2') format('woff2'),
	     url('/fonts/LibertinusSans-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Libertinus Sans';
	font-weight: bold;
	font-style: normal;
	src: url('/fonts/LibertinusSans-Bold.woff2') format('woff2'), 
	     url('/fonts/LibertinusSans-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Libertinus Sans';
	font-style: italic;
	font-weight: normal;
	src: url('/fonts/LibertinusSans-Sans.woff2') format('woff2'), 
	     url('/fonts/LibertinusSans-Sans.otf') format('opentype');
}

/* Root */
:root {
	--bg: rgb(255, 255, 248);
	--bg-night: #232a38;
	--bg-night: #21242e;

	--fg: rgb(30, 30, 30);
	--fg-night: #ddd;

	--accent: rgb(132, 108, 91);
	--accent-t: rgba(132, 108, 91, 0.2);
	--accent-night: rgb(124, 150, 168);
	--accent-night-t: rgb(124, 150, 168, 0.2);

	--link: var(--accent);
	--link-bg: var(--accent-t);

	--serif-font: 'Kepler', serif;
	--sans-font: 'Libertinus Sans', system-ui, sans-serif;
	--mono-font: Menlo, monospace;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: var(--bg-night);
		--fg: var(--fg-night);
		--accent: var(--accent-night);
		--accent-t: var(--accent-night-t);
	}
}

/* Main */
html {
	background-color: var(--bg);
}

/* Header */

span#extension {
	opacity: 0.6;
	margin-left: -0.1em;
}

a, article a {
	color: var(--link);
}

a:hover {
	background-color: var(--link-bg);
}

code {
	letter-spacing: 0.5px;
	font-family: var(--mono-font);
	font-size: 0.95rem;
}

header#site-header h1 {
	font-size: 2.5em;
	font-family: var(--serif-font);
}

section#wrapper {
	margin-top: 4em;
	margin-left: 2em;
	margin-right: 2em;
}

aside.sidebar {
	margin: 3ex auto;
}

aside.sidebar li {
	display: inline;
}

article {
	font-size: 1.2rem;
	line-height: 1.6;
	font-family: var(--serif-font);
	color: var(--fg);
}

@media (min-width: 65rem) {

	section#wrapper {
		display: grid;
		grid-column-gap: 5em;
		grid-row-gap: 3em;
		grid-template-columns: 20em 37em;
	}

	header#site-header {
		grid-column-start: 2;
  	margin-bottom: 3em;
  	font-size: 
	}

	aside.sidebar {
		display: block;
		text-align: right;
		margin: 0;
		grid-column-start: 1;
	}

	aside.sidebar li {
		display: block;
	}
}

header {
	display: block;
}

aside.sidebar * {
	font-family: var(--sans-font);
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 1.05em;
	letter-spacing: 1px;
}

aside.sidebar ul {
	list-style-type: none;
	margin-left: 0;
}

aside.sidebar li {
	margin-bottom: 10px;
	margin-left: 10px;
}

article h2, article h3 {
	margin-top: 1.3em;
	font-weight: bold;
}

h6.list-date {
	margin-bottom: 0.5rem;
	text-transform: uppercase;
}

article h2 {
	margin-bottom: 7pt;
	font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--sans-font);
}

h1 {
	font-weight: normal;
}

div[id="lettermark"] h1 sup {
	vertical-align: baseline;
	position: relative;
	top: -.6em;
	font-size: 0.7em;
}

aside.sidebar a {
	display: inline-block;
	font-size: 1.3em;
	text-decoration: none;
}

article > * {
	margin-bottom: 4ex;
}

article sup * {
	font-size: 0.8em;
}

article sup {
	vertical-align: baseline;
	position: relative;
	top: -.4em;
}

article sup a:before {
	content: "[";
}

article sup a:after {
	content: "]";
}

article h1 {
	font-size: 1.9em;
	line-height: 1em;
}

article header .byline * {
	font-family: var(--sans-font);
	font-size: 0.9em;
	margin-top: 0.5em;
}

article header {
	margin-bottom: 1.5em;
	padding: 0;
}

article .tt {
	font-family: monospace;
}

article blockquote {
	margin-left: 10pt;
	padding-left: 15pt;
	border-left: solid 3px var(--link);
	font-size: 1rem;
	line-height: 1.6rem;
	letter-spacing: 0.3px;
}

div[class="inset"] {
	margin-left: 10pt;
}

div[class="inset"] * {
	font-size: 1rem;
	font-family: var(--sans-font);
}

ol, ul {
	/*list-style-position: inside;*/
	margin-left: 30pt;
}

li {
	margin-bottom: 0;
}

ol#footnotes {
	list-style-position: inside;
	margin-top: 40px;
	padding-top: 10px;
	border-top: solid 1px var(--fg);
	font-size: smaller !important;
}

article {
	margin-bottom: 10em;
}

article p {
	word-spacing: .1em;
}

section.footnotes {
	font-size: 1rem;
	line-height: 1.3rem;
	margin-top: 4em;
}

section.footnotes hr {
	width: 30%;
	margin-bottom: 1em;
	border: none;
	border-top: solid 2px var(--link);
}

section.footnotes li {
	margin-bottom: 1rem;
}

section.footnotes ol {
	margin-left: 20px;
}

a.footnote-backref {
	font-family: system-ui;
}

.katex {
	font-size: 1em !important;
	font-family: var(--serif-font) !important;
}

.katex .mathdefault {
	font-family: var(--serif-font) !important;
}

a.footnote-backref {
	/*text-decoration: none;*/
	line-height: 0;
	vertical-align: 0rem;
}

ul li {
	list-style-type: square;
}

article hr:after {
	content: "***";
	letter-spacing: 2em;
	font-family: var(--serif-font);
	color: var(--link);
}

section.footnotes hr:after {
	content: "";
}

article hr {
	border: none;
	text-align: center;
	margin-bottom: 0.6rem;
}

pre {
	padding: 10px;
	font-size: 1rem;
}

article header > * {
	margin-bottom: 0.3em;
}

.category-label {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
	font-family: var(--sans-font);
	letter-spacing: 1.5px;
}

dd {
 	margin-left: 1em;
}

dt, dd {
	margin-bottom: 1ex;
}

p.dateline {
	font-style: italic;
}

ul#publication-links {
	margin-left: 0;
	font-size: 0.95rem;
	margin-bottom: 1.5em;
}

ul#publication-links li {
	display: inline-block;
	margin-right: 1em;
}

span.publication-link-source {
	background-color: var(--link);
	color: var(--bg);
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
}

a.publication-link {
	border-radius: 3px;
	border: solid 1px var(--link);;
	text-decoration: none;
	overflow: hidden;
	display: inline-flex;
	padding-right: 10px;
	align-content: center;
	justify-content: center;
	font-family: 'Menlo', monospace;
}

a.publication-link span {
	line-height: 1;
	padding-top: 6px;
	padding-bottom: 4px;
}

article.blurb {
	margin-bottom: 3em;
}

article.blurb header {
	margin-bottom: 1em;
}

