/* Variabeles */
$light-accent: #efefef;
$medium-accent: #cccccc;
$dark-accent: #222222;

$heading-text: #555555;
$paragraph-text: #888888;

$link-color: #385c75;

/* Mixins */

@mixin flex($flex-direction, $flex-wrap, $justify-content, $align-items, $align-content) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: $flex-direction;
  flex-direction: $flex-direction;

  -webkit-flex-wrap: $flex-wrap;
  flex-wrap: $flex-wrap;

  -webkit-justify-content: $justify-content;
  justify-content: $justify-content;

  -webkit-align-items: $align-items;
  align-items: $align-items;

  -webkit-align-content: $align-content;
  align-content: $align-content;
}

/* Styling Code */

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: $light-accent;
}

header {
  background-color: $dark-accent;
  color: $dark-accent;
  height: 100vh;
  text-align: center;

  @include flex(column, wrap, center, center, center);
}

div[id="logo"] {
  padding: 0 40px;
  height: 400px;
  background-color: $light-accent;

  @include flex(column, wrap, center, center, center);

  h1 {
    width: 100%;
    text-align: center;
    border-top: 1px solid $dark-accent;
    border-bottom: 1px solid $dark-accent;
    padding: 10% 0;
    color: $dark-accent;
  }

  h1[id="name"] {
    display: inline-block;
  }

  h1[id="initials"] {
    display: none;
  }
}

nav {
  color: $paragraph-text;
  font-weight: 100;
  font-size: 2.3em;
  bottom: 50px;
  font-family: Helvetica Neue;
  text-align: center;

  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0px;

  /* Substyles */

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    margin: 20px;
  }

  li[class="link"] {
    display: inline-block;
  }

  li[class="arrow"] {
    display: none;
  }

  a {
    color: $paragraph-text;
  }

  a:hover {
    color: $light-accent;
    text-decoration: none;
  }
}

div[role="main"] {

  color: $paragraph-text;

  section:first-child {
    border-top: none;
  }

  section {
    border-top: solid 1px $medium-accent;
    max-width: 800px;
    margin: 10px auto;
    padding: 10px 30px;

    > * {
      margin: 10px inherit;
    }

  }
}

form {
  @include flex(row, wrap, space-between, center, center);
}

footer {
  text-align: center;
  color: $paragraph-text;
  border-top: solid 1px $medium-accent;
  max-width: 800px;
  margin: 0 auto;
  padding:  20px 0;

  @include flex(row, wrap, center, center, center);

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin: 0 5px;
  }

  span[class="snapchat"] {
    display: block;
    display: none;
    width: 100%;
    padding: 20px;

    div {
      border: 1px solid #cecece;
      border-radius: 4px;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  button {
    border: none;
    color: $link-color;
    background-color: inherit;
    font-size: inherit;
    cursor: pointer;
    margin: 0;
  }

  button:hover {
    text-decoration: underline;
  }
}

/* Media Queries */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  div[role="main"] {
    p {
      font-size: 1.8em;
    }
  }

  form {
    input {
      width: 100%;
    }
  }

  input[type="button"] {
    width: 100%;
  }

  div[id="logo"] {
    width: 400px;
    padding: 0;

    h1[id="name"] {
      display: none;
    }
    h1[id="initials"] {
      display: inline-block;
    }
  }

  nav {
    bottom: 0px;

    li[class="link"] {
      display: none;
    }
    li[class="arrow"] {
      display: inline-block;
      font-size: 5em;

      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
}

/* Element Styles */

p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0;
  text-align: justify;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input, textarea {
  padding: 10px 10px;
  border: solid 1px $medium-accent;
  border-radius: 2px;
  margin: 10px 0;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  color: $paragraph-text;
}

input[type="submit"] {
  right: 0;
  background-color: $link-color;
  color: $light-accent;
  border-color: $link-color;
  cursor: pointer;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 250px;
}

input {
  width: 48%;
}

input[type="button"] {
  background-color: $medium-accent;
}

input[type="button"]:hover {
  background-color: $link-color;
  border-color: $link-color;
  color: $light-accent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  width: 100%;
  font-weight: 100;
  margin: 0;
  color: $heading-text;
  text-align: center;
}

h1 {
  font-size: 7em;
}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 2.3em;
}

h4 {
  font-size: 1.5em;
}

dd, dt {
  margin: 5px 0;
}

dd {
  margin-left: 20px;
  font-size: 1.2em;
  line-height: 1.5em;
}

dt {
  color: $heading-text;
  font-size: 1.4em;
  line-height: 1.5em;
}

dt:first-child {
  margin-top: none;
}

dt:last-child {
  margin-bottom: none;
}
