html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    text-align: center;
    padding: 40px 0;
    background-color: #222;
    color: #efefef;
}

section {
    width: 100%;
    margin: 0;
    display: block;
}

section > div {
    display: flex;
    flex-flow: row wrap;
}

section > div > div > * {
    width: 30%;   
}

.wrapper {
    min-height: 100vh;
    transition: 1s;
    opacity: 0.0;
    color: #efefef;
    flex: 1 100%;
}

.wrapper:hover {
    background-color: rgba(50, 50, 50, 0.7); 
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.wrapper > * {
    flex: 1 100%;   
}

p {
    text-align: justify;
    max-width: 600px;
    line-height: 1.6em;
    margin: 0px auto;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    text-align: center;
}

div footer {
    border-top: 1px solid #555;
    background-color: rgba(50, 50, 50, 0.9);
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: monospace;
    font-size: .8em;
}

a {
    color: #ccc;
}

cite {
    font-family: monospace;
}

body > footer {
    height: 100vh;
    background-color: #222;
    color: #efefef;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body > footer > div > a, body > footer > div > a:link, body > footer > div > a:visited {
    color: #fc6;
    border: 1px solid #fc6;
    display: inline-block;
    padding: 20px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 1px;
}

body > footer > div > a:hover, body > footer > div > a:active {
    background-color: #fc6;
    color: #222;
}